<!DOCTYPE html>
<html>
<head>

    <title>微淘插件oAuth授权</title>
    <!--Bootstrap核心css文件-->
    <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">
    <!--先引入jquery文件-->
    <script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
    <!--Bootstrap核心javascript文件-->
    <script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>

   <!-- <script type="text/javascript">
        function check(v){
            if(v==1){
                document.forname.action="/views/oauth/index.html?check=1";
            }
        }
    </script>-->
</head>
<body>
<div class="">
    <p>微淘插件oAuth授权</p>
    <div class="">
        <form action="/views/oauth/index.html" method="post" name="forname">
            <input type="text" name="textcontent">
            <input type="submit" name="onsubmit">
        </form>

    </div>
</div>
</body>
</html>