<!DOCTYPE html>
<html>
<head>

    <title>JAEdemo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="/assets/custom/reset.css">
    <link rel="stylesheet" href="/assets/custom/trade.css">

    <script src="http://code.jquery.com/jquery-1.11.0.js"></script>

</head>
<body>
<div class="container">
    <div class="head">
        交易数据开放测试
        <div class="loginstatus">获取是否登录</div>
    </div>
    <div class="mainbody">
        <div class="taobaolist">
            <!--miaxi01中的宝贝-->
            <h4>淘宝宝贝list</h4>
            <div class="baby">
                <a href="http://item.daily.taobao.net/item.htm?id=1500016303831" target="_blank">
                    <img src="/assets/imgs/tbbaby1.JPG">
                    <br>
                    淘宝出售中的宝贝1
                </a>

            </div>
            <div class="baby">
                <a href="http://item.daily.taobao.net/item.htm?id=1500011388131">
                    <img src="/assets/imgs/tbbaby2.JPG">
                    <br>
                    淘宝出售中的宝贝2
                </a>

            </div>
            <div class="baby">
                <a href="http://item.daily.taobao.net/item.htm?id=1500012546582">
                    <img src="/assets/imgs/tbbaby3.JPG">
                    <br>
                    淘宝出售中的宝贝3
                </a>

            </div>
        </div>
       <!-- <div class="tmalllist">
            &lt;!&ndash;xuantest1中的宝贝&ndash;&gt;
            <h4>天猫宝贝list</h4>
            <div class="baby">
                <a>
                    <img src="/assets/imgs/tmbaby1.JPG">
                    天猫出售中的宝贝1
                </a>

            </div>
            <div class="baby">
                <a>
                    <img src="/assets/imgs/tmbaby2.JPG">
                    天猫出售中的宝贝2
                </a>

            </div>
            <div class="baby">
                <a>
                    <img src="/assets/imgs/tmbaby3.JPG">
                    天猫出售中的宝贝3
                </a>
            </div>
        </div>-->
    </div>
</div>
</body>
</html>